<div class="dashboard-container">

  <!-- HEADER -->

  <div class="dashboard-header">

    <img
    class="header-background"
    src="https://images.pexels.com/photos/2901209/pexels-photo-2901209.jpeg"
    alt="Metro de Medellín"
  />

    <div class="user-section">

      <div class="user-info">
        <h2>Bienvenido a App Civica</h2>
        <!-- <p>somos App Cívica</p> -->
      </div>

      <div class="user-info" (click)="logout()">
        <h2 style="cursor: pointer;">Salir</h2>
        <!-- <p>somos App Cívica</p> -->
      </div>

    </div>

  </div>

  <!-- CARD SALDO -->

  <div class="balance-card">

    <h3>Saldo automatico disponible</h3>

    <h1>$15.000</h1>

    <div class="status">
       Sistema offline
    </div>

  </div>

  <!-- OPCIONES -->

  <div class="menu-grid">

    <!-- QR -->

    <div class="menu-card">

      <div class="menu-icon" (click)="abrirModalQR()">
        📱
      </div>

      <div class="menu-title">
        QR de viaje
      </div>

      <div class="menu-subtitle">
        Ingresa al Metro
      </div>

    </div>

    <!-- RECARGAR -->

    <div class="menu-card">

      <div class="menu-icon" (click)="abrirModalRecharge()">
        💳
      </div>

      <div class="menu-title">
        Recargar
      </div>

      <div class="menu-subtitle">
        Agrega saldo
      </div>

    </div>

    <!-- HISTORIAL -->

    <div class="menu-card">

      <div class="menu-icon" (click)="irHistorial()">
        📄
      </div>

      <div class="menu-title">
        Historial
      </div>

      <div class="menu-subtitle">
        Ver movimientos
      </div>

    </div>

    <!-- PERFIL -->

    <div class="menu-card">

      <div class="menu-icon" (click)="irProfile()">
        👤
      </div>

      <div class="menu-title" >
        Perfil
      </div>

      <div class="menu-subtitle">
        Información personal
      </div>

    </div>

  </div>

  <!-- NAVIGATION -->
<!-- 
  <div class="bottom-nav">

    <div class="nav-item active">

      <div class="nav-icon">🏠</div>

      Inicio

    </div>

    <div class="nav-item">

      <div class="nav-icon">🚆</div>

      Viajes

    </div>

    <div class="nav-item">

      <div class="nav-icon">💰</div>

      Pagos

    </div>

    <div class="nav-item">

      <div class="nav-icon">⚙️</div>

      Ajustes

    </div> 
  </div>-->


</div>